
.cal-cell{
	width: 14.285714285714285%;
	display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0%;
}
.cal-cell.gray{
	background: #F9F9F9;
}

.month .headings .cal-cell{
	font-weight: bolder;
    text-align: center;
    padding: 5px 0;
}

.month .weeks:hover .cal-cell{background: #F5FFF5;}
.month .weeks .cal-cell:hover{background: #E2FDE2;}

.month .weeks .cal-cell{
	border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding: 10px 10px 40px;
}

.month .weeks + .weeks .cal-cell{
	border-top:none;
}
.month .weeks .cal-cell:first-child{
	border-left: 1px solid #e1e1e1;
}